<section id="about-page">
  <div class="container">
      <div class="row">
          <!--
            Changes for test v0  
          -->
          <div class="col-md-12 text-center">
              <h1 class="about-title">Team 5</h1>
               <h2>Our team</h2>
          </div>
          <div class="col-md-3 text-center member">
              <div class="member-img">
                  <img src="assets/FaievskyiMaksym.jpg" alt="" />
              </div>
              <h3>Maksym</h3>
              <span>Faievskyi</span>
          </div>
          <div class="col-md-3 text-center member">
              <div class="member-img">
                  <img src="assets/tania.jpg" alt="" />
              </div>
              <h3>Tetiana</h3>
              <span>Sendetska</span>
          </div>
          <div class="col-md-3 text-center member">
              <div class="member-img">
                  <img src="assets/Sasha.jpg" alt="" />                  
              </div>
              <h3>Olexander</h3>
              <span>Ustych</span>
          </div>
          <div class="col-md-3 text-center member">
              <div class="member-img">
                  <img src="assets/2.jpg" alt="" />
              </div>
              <h3>Taras</h3>
              <span>Taranko</span>
          </div>
        </div>
    </div>
</section>
<div>
    dkjgnvadfk;jvn;akjdfnv;akjn
</div>