.service-aro-icon {
    width: 380px;
    margin: 0 auto;
}

.service-aro-left,
.service-aro-right {
    width: 150px;
    height: 1px;
    float: left;
    margin-top: 16px;
}

.service-aro-icon i {
    font-size: 16px;
    border: 1px solid;
    width: 33px;
    height: 33px;
    line-height: 32px;
    border-radius: 6px 0 6px 0;
}

#about-page {
    background-color: #1b1b1b;
    padding: 100px 0px;
}

#about-page .about-title {
    color: #f4f4f4;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 18px;
}

#about-page h2 {
    color: #808b8d;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

#about-page p {
    color: #808b8d;
    font-size: 14px;
    margin-bottom: 40px;
}

.member {
    margin-top: 25px;
}

.member .member-img {
    position: relative;
    width: 300px;
    margin: auto;
    padding-left: 80px;
}

.member .member-img:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    opacity: 0;
    border-radius: 40px 0px;
}

.member .member-img img {
    border-width: 3px;
    border-style: solid;
    border-radius: 40px 0px;
    width: 100%;
    height: auto;
}

.member-social {
    position: absolute;
    width: 303px;
    height: 303px;
    top: 0;
    left: 0;
}

.member-social i {
    color: #ffffff;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 8px 8px 0 0;
    margin: 1px;
    position: absolute;
    z-index: -999;
}

.member h3 {
    color: #f7f7f7;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.member span {
    font-size: 18px;
}
